.doctors-img{
    width: 100%;
    height: 250px;
}
.doctor-details{
    background-color: cornflowerblue;
    padding: 5px;
    color: white;
}
.doctors-time{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 5px;
}
.doctors-time p{
    border-bottom: 1px solid blue;
}
.doctors-container{
    margin: 10px 0px;
    /* border: 1px solid gray; */
    padding: 15px;
    border-radius: 25px;
    background-color: azure;
}

